DO $$
DECLARE
  target_email TEXT := 'reginaldo.mazaro@ext.medbeauty.com.br';
  target_user_id UUID;
BEGIN
  -- 1. Encontrar o ID do usuário pelo email na tabela auth.users
  SELECT id INTO target_user_id FROM auth.users WHERE email = target_email;

  IF target_user_id IS NULL THEN
    RAISE EXCEPTION 'Usuário não encontrado: %. Verifique se o usuário já realizou o cadastro (Sign Up) no sistema.', target_email;
  END IF;

  -- 2. Garantir que o perfil existe
  INSERT INTO public.profiles (id, email, full_name)
  VALUES (target_user_id, target_email, 'Super Admin')
  ON CONFLICT (id) DO UPDATE SET full_name = 'Super Admin';

  -- 3. Atribuir a role 'admin'
  INSERT INTO public.user_roles (user_id, role)
  VALUES (target_user_id, 'admin')
  ON CONFLICT (user_id, role) DO NOTHING;

  -- 4. Criar registro de funcionário (Necessário para acessar áreas do CRM)
  INSERT INTO public.employees (
    user_id, 
    email, 
    full_name, 
    employee_code, 
    cpf, 
    hire_date, 
    status
  )
  VALUES (
    target_user_id, 
    target_email, 
    'Reginaldo Mazaro', 
    'ADM-REG', 
    '000.000.000-00', -- CPF Fictício
    CURRENT_DATE, 
    'active'
  )
  ON CONFLICT (email) DO NOTHING;

END $$;
